@import 'colors';

.navbar-container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px 40px;

  .header {
    margin-right: 20%;
  }

  .link {
    text-decoration: none;
    padding: 10px;
    background: white;
  }

  .link:hover {
    color: $backgroundColor;
    background-color: $textColor;
  }
}